body {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
background-image: url("rubik-cube.webp");

}

.cube{
 position: relative;
 width: 200px;
 height: 200px;
 transform-style: preserve-3d;
 animation: rotate 10s linear infinite;
 perspective: 1000px;

}

.face{
 position: absolute;
 width: 200px;
 height: 200px;
 display: flex;
 flex-wrap: wrap;
 border: 2px solid black;
 justify-content: space-between;
 align-content: space-between;

}

.front { transform: translateZ(100px);}
.back  { transform: translateZ(-100px) rotateY(180deg);  }
.right { transform: rotateY(-90deg) translateZ(100px);   }
.left  { transform: rotateY( 90deg) translateZ(100px);   }
.top   { transform: rotateX(90deg) translateZ(100px);    }
.bottom{ transform: rotateX(-90deg) translateZ(100px);   }

.sticker {
 width: 60px;
 height: 60px;
 border: 2px solid black;
}

.blue { background-color: rgb(1, 1, 48);}
.green {background-color: rgb(2, 54, 2);}
.red {background-color: darkred;}
.orange{background-color:orange;}
.yellow{background-color: yellow;}
.white {background-color: aliceblue;}

@keyframes rotate {

0% {transform: rotateX(0) rotateY(0); }
100% {transform: rotateX(360deg) rotateY(360deg); }

}

button{

    display: flex;
    justify-content: top;
    margin: 0;
    margin-top: 100px;
    background-color: rgb(227, 24, 24);
}